@media screen and (max-width: 766px) {
  .modale-content .modale-box {
    width: 75%;
  }
  .modale-content .modale-box .modale-border .modale-background {
    background-size: cover;
    height: 50px;
  }
  .modale-content .modale-box .modale-border .wpcf7 {
    margin: 0% 10% 7.5% 10%;
  }
  .modale-content .modale-box .modale-border .wpcf7 p {
    margin-block-start: 10px;
    margin-block-end: 10px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .modale-content .modale-box {
    width: 60%;
  }
}

@media screen and (max-width: 460px) {
  .header_content .custom-logo-link .custom-logo {
    width: 138px;
    height: 9px;
  }
}
@media screen and (max-width: 766px) {
  .menu-navigation-container .menu {
    display: none;
  }
  .header_content .content-mobile {
    display: flex;
  }
  .header_content {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0901960784);
  }
  .header_content .custom-logo-link {
    z-index: 11;
  }
}

@media screen and (max-width: 766px) {
  .menu-nav-footer-container .menu {
    flex-direction: column;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 766px) {
  .container-hero {
    height: 50vh;
  }
  .row .card-photo {
    width: 100%;
    height: 75vw;
  }
  .hero-area img {
    max-height: 500px;
    width: 50%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container-hero {
    height: 75vh;
  }

  .hero-area img {
    max-height: 766px;
  }
}

@media screen and (max-width: 766px) {
  .post-content-photo {
    flex-direction: column-reverse;
  }
  .post-content-photo .post-column-right {
    width: 100%;
  }
  .post-content-photo .post-column-left {
    width: 100%;
    margin-top: 25px;
  }
  .post-content-photo .post-column-left h2 {
    max-width: 100%;
    margin: 0px;
  }
  .post-content-contact {
    height: auto;
    margin-bottom: 25px;
  }
  .post-content-contact .post-column-right {
    display: none;
  }
  .post-content-contact .post-column-left {
    width: 100%;
    flex-direction: column;
  }
  .post-content-contact .post-column-left p {
    width: 100%;
  }
  .post-content-contact .post-column-left button {
    width: 100%;
    margin-bottom: 20px;
  }
  .photo-block {
    margin-bottom: 25px;
  }
  .photo-block .photo-apparentee {
    margin-top: 25px;
    margin-bottom: 25px;
    flex-direction: column;
    height: 100%;
  }
  .photo-block .photo-apparentee .container-photo-apparentee {
    width: 100%;
    height: 85vw;
  }
}

@media screen and (max-width: 766px) {
  .photo-overlay {
    display: none;
  }
  .overlay-mobile {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 766px) {
  .container-select .container-select-date,
  .container-select .container-select-cat-format {
    width: auto;
  }
  .container-select .container-select-date {
    margin-left: 20px;
  }
  .container-select ul {
    width: 270px;
  }
}
@media screen and (max-width: 466px) {
  .container-select ul {
    width: 256px;
  }
}

@media screen and (max-width: 460px) {
  h2 {
    font-size: 46px;
  }
}
@media screen and (max-width: 766px) {
  h1 {
    font-size: 28px;
    line-height: 41px;
    letter-spacing: 0em;
    -webkit-text-stroke-width: 1px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 46px;
    line-height: 48px;
    letter-spacing: 0em;
  }
}
